@(currentPage: Page[Team])(implicit flash: Flash)

@main(Messages("teams.list.title")) {
    @Option(currentPage.items).filterNot(_.isEmpty).map { teams =>
        <h1>@Messages("teams.list.title")</h1>
        <ul>
        @teams.map { team =>
            <li class="team-item"><a href="@routes.TeamsController.show(team.id.get)">@team.name</a></li>
        }
        </ul>
    }.getOrElse {
        <h1>@Messages("teams.none.title")</h1>
        <div><a href="@routes.TeamsController.newPage()">@Messages("teams.none.noworries")</a></div>
    }

}